<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text inputGroup-sizing-lg" id="customer-weight-label">Testtömeg</span>
  </div>
  <input type="number"
         id="new-customer-weight"
         class="form-control form-control-lg"
         name="weight"
         aria-label="weight"
         aria-describedby="customer-weight-label"
         placeholder="0"
         min="0"
         max="999"
         step="1"
         ngModel>
  <div class="input-group-append">
    <span class="input-group-text">kg</span>
  </div>
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text inputGroup-sizing-lg" id="customer-height-label">Testmagasság</span>
  </div>
  <input type="number"
         id="new-customer-height"
         class="form-control form-control-lg"
         name="height"
         aria-label="height"
         aria-describedby="customer-height-label"
         placeholder="0"
         min="0"
         max="3"
         step="0.01"
         ngModel>
  <div class="input-group-append">
    <span class="input-group-text">m</span>
  </div>
</div>
