<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="container vw-100">
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group row">
          <input [(ngModel)]="customer.weight"
                 aria-describedby="customer-weight-label"
                 aria-label="weight"
                 class="custom-form-control form-control"
                 id="new-customer-weight"
                 max="999"
                 min="0"
                 name="weight"
                 placeholder="0"
                 step="1"
                 required
                 type="number"
                 #weight="ngModel"
          >
          <div class="spacer text-danger small" *ngIf="weight.invalid && weight.touched">{{ errorMessage }}</div>
          <label class="col-sm-auto col-form-label">kg</label>
        </div>
        <div class="form-group row">
          <input [(ngModel)]="customer.height"
                 aria-describedby="customer-height-label"
                 aria-label="height"
                 class="custom-form-control form-control"
                 id="new-customer-height"
                 max="300"
                 min="0"
                 name="height"
                 placeholder="0"
                 step="1"
                 type="number"
                 #height="ngModel"
          >
          <div class="spacer text-danger small" *ngIf="height.invalid && height.touched">{{ errorMessage }}</div>
          <label class="col-sm-auto col-form-label">cm</label>
        </div>
      </div>
      <div class="col-lg-3 offset-1">
        <div class="card">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">A te neved {{ customer.name }},</li>
            <li class="list-group-item">{{ customer.age }} éves vagy</li>
            <li class="list-group-item">és {{ customer.gender ? 'férfi' : 'nő' }}.</li>
            <li class="list-group-item">A testsúlyod {{ customer.weight }} kg</li>
            <li class="list-group-item"> és {{ (customer.height / 100) | number: '1.2-2'}} méter magas vagy.</li>
          </ul>
          <div class="card-body">
            <p class="card-text">Amennyiben szeretnéd megtudni a BMI értékedet, kattints a tovább
              gombra!</p>
          </div>
        </div>
    </div>
  </div>
  </div>
</form>
<div class="btn-group mt-5">
  <button (click)="openModal(content)" type="button" class="btn btn-danger">Törlés</button>
  <button (click)="onGoBack()" type="button" class="btn btn-primary">Vissza</button>
  <button (click)="onSubmit()" type="button" class="btn btn-success">Befejezés</button>
</div>

<ng-template #content>
  <div class="modal-header vw-100">
    <h4 class="modal-title" id="modal-basic-title">Biztosan törölni akarja az adatokat?</h4>
  </div>
  <div class="modal-body">
    <p>A törlés végleges, nem visszavonható!</p>
  </div>
  <div class="modal-footer">
    <button (click)="onClose()" aria-label="Close" class="btn btn-danger" type="button">
      <span aria-hidden="true">Nem</span>
    </button>
    <button (click)="onReset()" aria-label="Close" class="btn btn-success" type="button">
      <span aria-hidden="true">Igen</span>
    </button>
  </div>
</ng-template>
