<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="col custom-form-control">

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text inputGroup-sizing-lg" id="customer-weight-label">Testtömeg</span>
      </div>
      <input type="number"
             id="new-customer-weight"
             class="form-control form-control-lg"
             name="weight"
             aria-label="weight"
             aria-describedby="customer-weight-label"
             placeholder="0"
             min="0"
             max="999"
             step="1"
             [(ngModel)]="customer.weight">
      <div class="input-group-append">
        <span class="input-group-text">kg</span>
      </div>
    </div>

    <div class="input-group mb-3">
      <div class="input-group-prepend">
        <span class="input-group-text inputGroup-sizing-lg" id="customer-height-label">Testmagasság</span>
      </div>
      <input type="number"
             id="new-customer-height"
             class="form-control form-control-lg"
             name="height"
             aria-label="height"
             aria-describedby="customer-height-label"
             placeholder="0"
             min="0"
             max="300"
             step="1"
             [(ngModel)]="customer.height">
      <div class="input-group-append">
        <span class="input-group-text">cm</span>
      </div>
    </div>
    <div class="btn-group mt-5" role="group">
      <button (click)="openModal(content)" type="button" class="btn btn-danger">Törlés</button>
      <button (click)="onGoBack()" type="button" class="btn btn-primary">Vissza</button>
      <button (click)="onSubmit()" type="button" class="btn btn-success">Befejezés</button>
    </div>
  </div>
</form>

<ng-template #content>
  <div class="modal-header vw-100">
    <h4 class="modal-title" id="modal-basic-title">Biztosan törölni akarja az adatokat?</h4>
  </div>
  <div class="modal-body">
    <p>A törlés végleges, nem visszavonható!</p>
  </div>
  <div class="modal-footer">
    <button (click)="onClose()" aria-label="Close" class="btn btn-danger" type="button">
      <span aria-hidden="true">Nem</span>
    </button>
    <button (click)="onReset()" aria-label="Close" class="btn btn-success" type="button">
      <span aria-hidden="true">Igen</span>
    </button>
  </div>
</ng-template>
