<div class="container container-fluid">
  <h2 class="h2">Kérjük, töltse ki az alábbi mezőket!</h2>
  <div class="row justify-content-center">
    <div class="col-xl">
      <form (ngSubmit)="onSubmit(f)" #f=ngForm>
        <div class="new-customer-data"
             ngModelGroup="newCustomerData"
             #newCustomerData="ngModelGroup">

          <div class="form-group form-row">
            <label for="new-customer-name" class="col-sm-3">Keresztnév</label>
            <div class="col-sm-9">
              <input type="text"
                     id="new-customer-name"
                     name="name"
                     aria-label="given-name"
                     class="form-control form-control-lg"
                     placeholder="Keresztnév"
                     ngModel>
            </div>
          </div>

          <div class="form-group form-row">
            <label for="new-customer-age" class="col-sm-3">Életkor</label>
            <div class="col-sm-9">
              <input type="number"
                     id="new-customer-age"
                     name="age"
                     aria-label="age"
                     class="form-control form-control-lg"
                     placeholder="1"
                     ngModel>
            </div>
          </div>

          <div class="form-group form-row">
            <div class="custom-control custom-switch">
              <label>
                <fa-icon [icon]="faMars"></fa-icon>
                <input type="checkbox" class="custom-control-input" id="customSwitches">
                <fa-icon [icon]="faVenus"></fa-icon>
              </label>
            </div>
          </div>

        </div>
        <button class="btn btn-lg btn-primary"
                type="submit">Befejezés
        </button>
      </form>
    </div>
  </div>
</div>
