<form (ngSubmit)="onSubmit()" #form="ngForm">
  <div class="container vw-100">
    <div class="row">
      <div class="col-lg-6">
        <div>
          <input
            [(ngModel)]="customer.name"
            aria-describedby="customer-name-label"
            aria-label="given-name"
            class="custom-form-control form-control"
            id="name"
            name="name"
            placeholder="Keresztnév*"
            required
            type="text"
            #name="ngModel"
          />
          <div class="spacer text-danger small" *ngIf="name.invalid && name.touched">{{ errorMessage }}</div>
        </div>
        <div class="form-group row ml-1 mt-4">
          <div class="custom-form-control">
            <ng5-slider
              name="age"
              [(ngModel)]="customer.age"
              [(value)]="customer.age"
              [options]="options"
              required
              #age="ngModel"
            ></ng5-slider>
          </div>
          <label class="col-sm-auto col-form-label">év</label>
        </div>
        <div class="custom-form-control">
          <div class="form-check form-check-inline mt-4">
            <input
              [(ngModel)]="customer.gender"
              [value]="true"
              class="form-check-input"
              id="male"
              name="gender"
              required
              type="radio"
              #male="ngModel"
            >
            <label class="form-check-label" for="male">
          <span class="text-primary">
            Férfi
            <fa-icon [icon]="faMars"></fa-icon>
          </span>
            </label>
          </div>
          <div class="form-check form-check-inline">
            <input
              [(ngModel)]="customer.gender"
              [value]="false"
              class="form-check-input"
              id="female"
              name="gender"
              required
              type="radio"
              #female="ngModel"
            >
            <label class="form-check-label" for="female">
          <span class="text-secondary">
            Nő
            <fa-icon [icon]="faVenus"></fa-icon></span>
            </label>
          </div>
        </div>
        <div class="spacer text-danger small" *ngIf="male.invalid && male.touched">{{ errorMessage }}</div>
      </div>
      <div class="col-lg-3 offset-1" *ngIf="name.valid && age.value && (male.valid || female.valid)">
        <div class="card">
          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item">A te neved {{ customer.name }},</li>
            <li class="list-group-item">{{ customer.age }} éves vagy</li>
            <li class="list-group-item">és {{ customer.gender ? 'férfi' : 'nő' }}.</li>
            <li class="list-group-item">A testsúlyod {{ customer.weight }} kg</li>
            <li class="list-group-item"> és {{ customer.height | number: '1.2-2'}} méter magas vagy.</li>
          </ul>
          <div class="card-body">
            <p class="card-text">Amennyiben szeretnéd megtudni a BMI értékedet, kattints a tovább
              gombra!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="btn-group mt-5" role="group">
    <button (click)="openModal(content)" type="button" class="btn btn-danger">Törlés</button>
    <button (click)="onSubmit()" type="button" class="btn btn-primary">Tovább</button>
  </div>
</form>


<ng-template #content>
  <div class="modal-header vw-100">
    <h4 class="modal-title" id="modal-basic-title">Biztosan törölni akarja az adatokat?</h4>
  </div>
  <div class="modal-body">
    <p>A törlés végleges, nem visszavonható!</p>
  </div>
  <div class="modal-footer">
    <button (click)="onClose()" aria-label="Close" class="btn btn-danger" type="button">
      <span aria-hidden="true">Nem</span>
    </button>
    <button (click)="onReset()" aria-label="Close" class="btn btn-success" type="button">
      <span aria-hidden="true">Igen</span>
    </button>
  </div>
</ng-template>

