<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text inputGroup-sizing-lg" id="customer-name-label">Keresztnév</span>
  </div>
  <input #name
         (blur)="saveName(name)"
         aria-describedby="customer-name-label"
         aria-label="given-name"
         class="form-control"
         id="new-customer-name"
         name="name"
         ngModel
         placeholder="Keresztnév"
         type="text"
  />
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text inputGroup-sizing-lg" id="customer-age-label">Életkor</span>
  </div>
  <input #age
         (blur)="saveAge(age)"
         aria-describedby="customer-age-label"
         aria-label="age"
         class="form-control form-control-lg"
         id="new-customer-age"
         name="age"
         ngModel
         placeholder="0"
         type="number"
  />
  <div class="input-group-append">
    <span class="input-group-text">év</span>
  </div>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="exampleRadios1" value="true" checked>
  <label class="form-check-label" for="exampleRadios1">
      <span class="text-primary">
        Férfi
        <fa-icon [icon]="faMars"></fa-icon>
      </span>
  </label>
</div>
<div class="form-check form-check-inline">
  <input class="form-check-input" type="radio" name="gender" id="exampleRadios2" value="false">
  <label class="form-check-label" for="exampleRadios2">
      <span class="text-secondary">
        Nő
        <fa-icon [icon]="faVenus"></fa-icon></span>
  </label>
</div>
<!--          <div class="input-group mb-3">-->
<!--            <div class="input-group-prepend">-->
<!--              <span class="input-group-text inputGroup-sizing-lg">Nem</span>-->
<!--            </div>-->
<!--            <div class="btn-group btn-group-toggle">-->
<!--              <label class="btn-primary" ngbButtonLabel>-->
<!--                <input type="radio" [ngModel] name="gender" value="true" ngbButton >-->
<!--                <fa-icon [icon]="faMars" size="2x"></fa-icon>-->
<!--              </label>-->
<!--              <label class="btn-secondary" ngbButtonLabel>-->
<!--                <input type="radio" [ngModel] name="gender" value="false" ngbButton >-->
<!--                <fa-icon [icon]="faVenus" size="2x"></fa-icon>-->
<!--              </label>-->
<!--            </div>-->
<!--          </div>-->
