/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';


$primary: #1BABF9;
$black: #282828;

h1 h2 h3 h4 h5 h6 {
  font-family: Montserrat, serif;
}

body {
  font-family: Roboto, serif;
}
